@import url(./cartButton.css);
@import url(./cartItem.css);

.cart-page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 95px;
    left: 0;
    z-index: 100;
    background-color: rgba(13, 13, 13, 0.8);
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.cart-page.active {
    opacity: 1;
    pointer-events: all;
    border-top: 1px solid black;
}

.cart {
    box-shadow: inset 0px 1px 3px #dce1e8;
    display: flex;
    flex-direction: column;
    top: -100%;
    padding: 10px;
    background-color: var(--background-color);
    transition: top 0.3s ease-in 0.1s;
    overflow: scroll;
}

.cart.active {
    top: 0;
    border-radius: 4px;
    margin-bottom: 70px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart__order {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px;
    gap: 10px;
}

.cart__order-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--font-mobile-cart-p-size);
}

.details-quantity {
    display: flex;
    align-items: center;
}

.details-quantity-change {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.cart__promo-title {
    font-size: var(--font-mobile-element-h-size);
}

.cart__promo-text {
    padding-bottom: 10px;
    font-size: var(--font-mobile-cart-h-size);
}

.cart__submit-descr {
    border-top: 1px solid var(--border-top-color);
    padding: 10px 0;
}

.cart__submit-total,
.cart__submit-discount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart__submit-discount {
    font-size: var(--font-mobile-element-h-size);
}

.cart__submit-total {
    font-size: 18px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .cart__submit-discount {
        font-size: var(--font-p-size);
    }

    .cart__submit-total {
        font-size: var(--font-h-size);
    }
}

@media (min-width: 1024px) {
    .cart-page {
        top: 87px;
    }
}