.cart {
    box-shadow: inset 0px 1px 3px #dce1e8;
    position: relative;
    padding: 10px;
    max-width: 600px;
}

.cart__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart__order-item__preview {
    height: 200px;
    min-width: 70px;
    overflow: hidden;
}

.cart__order-item__preview img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.discount__total {
    color: var(--font-discount-color);
    font-size: 11px;
    text-decoration-line: line-through;
    line-height: 18px;
}

.cart__order {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px;
    gap: 10px;
}

.cart__order-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--font-mobile-cart-p-size);
}

.details-title-text {
    font-size: var(--font-mobile-cart-h-size);
}

.cart__order-item__details {
    display: flex;
    flex-direction: column;
    height: 190px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.cart__order-item__total {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 190px;
    min-width: 50px;
}

.cart__order-item-remove {
    position: absolute;
    top: 0;
    right: 0;
}

.details-quantity {
    display: flex;
    align-items: center;
}

.details-quantity-change {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.details-quantity-button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.details-quantity-button:hover {
    background-color: #e0e0e0;
}

.details-quantity-button::before {
    content: "+";
}

.details-quantity-button:last-child::before {
    content: "-";
}

.cart__promo-title {
    font-size: var(--font-mobile-element-h-size);
}

.cart__promo-text {
    padding-bottom: 10px;
    font-size: var(--font-mobile-cart-h-size);
}

.cart__submit-descr {
    border-top: 1px solid var(--border-top-color);
    padding: 10px 0;
}

.cart__submit-total,
.cart__submit-discount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart__submit-discount {
    font-size: var(--font-mobile-element-h-size);
}

.cart__submit-total {
    font-size: 18px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .cart__order-item__total,
    .cart__order-item__details,
    .details-title-text {
        font-size: var(--font-p-size);
    }
    .cart__order-item__total {
        width: 70px;
    }
    
    .cart__submit-discount {
        font-size: var(--font-p-size);
    }

    .cart__submit-total {
        font-size: var(--font-h-size);
    }
}
