.btn {
    min-width: 150px;
    height: 65px;
    border: 1px solid;
    border-color: var(--font-creators-color);
    color: var(--font-creators-color);
    font-size: var(--font-mobile-p-size);
    font-weight: 400;
    border-radius: 4px;
    padding: 10px 20px;
    gap: 10px;
    background-color: inherit;
    line-height: 20px;
}

.btn:hover {
    cursor: pointer;
    color: var(--button-color-active);
    border-color: var(--button-color-active);
}

.btn-black {
    background-color: var(--background-color-reverse);
    color: var(--font-color-reverse);
}

.btn-black:hover {
    background-color: inherit;
    color: var(--font-color);
    border-color: var(--button-color-reverse);
}

.home__button,
.all-products__button {
    width: 300px;
}

.btn__filter {
    width: 290px;
    padding: 15px 20px;
}

.submit-order__btn,
.continue-order__btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 20px;
}

.btn__filter {
    width: 100%;
}

.looks-item-btn {
    width: 300px;
    padding: 10px;
}

.look-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.look-cart-btn img {
    height: 100%;
}

.btn__filter-title {
    background-color: inherit;
    border: none;
}

.details-quantity-button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 24px;
}

.details-quantity-button:hover {
    background-color: #e0e0e0;
}

.details-quantity-button::before {
    content: "-";
}

.details-quantity-button:last-child::before {
    content: "+";
}

@media (min-width: 768px) {
    .btn {
        padding: 10px 36px;
        font-size: var(--font-p-size);
        line-height: 23px;
    }
}
