@font-face {
    font-family: "forest-glade-cyrillic";
    src: url("../fonts/Forest-glade-Cyrillic.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Atyp Variable";
    color: var(--font-color);
}

/* div,
li,
nav {
    border: 1px solid red;
} */

:root {
    --font-p: "Atyp Variable", sans-serif;
    --font-h: "Atyp Variable", sans-serif;
    --font-decoration: "forest-glade-cyrillic";
    --font-p-size: 16px;
    --font-h-size: 22px;
    --font-p-banner-size: 40px;
    --font-mobile-p-size: 16px;
    --font-mobile-address-p-size: 9px;
    --font-mobile-element-h-size: 14px;
    --font-mobile-h-size: 20px;
    --font-mobile-sub-h-size: 18px;
    --font-mobile-day-size: 18px;
    --font-mobile-cart-p-size: 11px;
    --font-mobile-cart-h-size: 13px;
    --font-mobile-about-p-size: 14px;
    --font-mobile-decorated-p-size: 40px;
    --font-color: rgba(26, 26, 26, 1);
    --font-mobile-p-color: rgba(26, 28, 59, 1);
    --font-color-reverse: rgba(255, 255, 255, 1);
    --font-header-color: rgba(26, 26, 26, 1);
    --font-sale-color: #dc9716;
    --font-creators-color: rgba(26, 28, 59, 1);
    --font-welcome-color: rgba(255, 255, 255, 1);
    --font-discount-color: rgba(86, 86, 86, 1);
    --font-information-color: rgba(172, 166, 166, 1);
    --card-border-color: #01337a;
    --card-title-color: rgba(1, 51, 122, 0.4);
    --card-title-text: rgba(255, 255, 255, 1);
    --basicTransition: 0.4s;
    --border-top-color: rgba(26, 26, 26, 1);
    --border-bottom-color: rgba(201, 202, 208, 1);
    --background-color: #ffffff;
    --background-color-lock: rgba(255, 255, 255, 0.8);
    --background-color-alt: #ccd6e4;
    --background-color-reverse: rgba(26, 28, 59, 1);
    --background-selected-color: rgba(220, 225, 232, 1);
    --background-welcome-color: rgba(0, 0, 0, 0.2);
    --background-error-color: rgba(229, 225, 222, 1);
    --background-footer-color: rgba(172, 166, 166, 0.25);
    --background-creators-color: rgba(204, 214, 228, 1);
    --button-color-active: #dc9716;
    --button-color-reverse: #0d0d0d;
}

.container {
    min-width: 300px;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    padding: 15px 10px;
    margin: 20px 0;
}

.sale {
    color: var(--font-sale-color);
}

.sale__price {
    text-decoration: line-through;
}

.sale__price-active {
    font-size: var(--font-mobile-h-size);
    line-height: 20px;
    border-radius: 5px;
    color: var(--font-color-reverse);
    text-transform: var(--background-color-reverse);
    background-color: var(--card-title-color);
}

.section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
}

.section__header-title {
    line-height: 26px;
    text-align: left;
    padding: 20px 0px;
    font-weight: 600;
    font-size: var(--font-mobile-h-size);
    color: var(--font-header-color);
}

.section__header-btn,
.section__header-text {
    align-items: center;
    text-align: center;
    font-family: var(--font-decoration);
    font-size: 40px;
    font-weight: 400;
    color: var(--font-creators-color);
}

.decorated__text {
    font-family: var(--font-decoration);
}

.text {
    font-family: var(--font-p);
}

.img__darked {
    filter: brightness(0.8);
}

.swiper-pagination-bullet-active {
    background-color: rgba(26, 28, 59, 1);
}

details {
    border: none;
    box-shadow: none;
    padding: 0;
}

details summary {
    list-style: none;
}

details[open] summary .accordion::after {
    position: absolute;
    content: "";
    border: 1px solid rgba(209, 210, 216, 1);
    width: 18px;
    height: 0px;
    top: 10px;
    left: 1px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    transform: rotate(180deg);
}

.accordion {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 90%;
    right: -8.33%;
    top: 20.84%;
    bottom: 79.16%;
}

.accordion::before {
    position: absolute;
    content: "";
    border: 1px solid rgba(209, 210, 216, 1);
    width: 18px;
    height: 0px;
    top: 10px;
    left: 1px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    transform: rotate(180deg);
}

.accordion::after {
    position: absolute;
    content: "";
    border: 1px solid rgba(209, 210, 216, 1);
    width: 18px;
    height: 0px;
    top: 10px;
    left: 1px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    transform: rotate(90deg);
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: var(--font-header-color);
}

ul,
ol,
li {
    list-style-type: none;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 45px 40px;
    }
    .section__header-title {
        font-size: var(--font-h-size);
        color: var(--font-color);
        text-transform: uppercase;
        padding: 20px 0px;
        font-weight: 400;
    }
}
