@font-face {
    font-family: "forest-glade-cyrillic";
    src: url("../fonts/Forest-glade-Cyrillic.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Atyp Variable";
}

/* div,
li,
nav {
    border: 1px solid red;
} */

:root {
    --font-p: "Atyp Variable", sans-serif;
    --font-h: "Atyp Variable", sans-serif;
    --font-decoration: "forest-glade-cyrillic";
    --font-p-size: 16px;
    --font-h-size: 20px;
    --font-color: #0d0d0d;
    --font-color-reverse: #ffffff;
    --font-header-color: #1a1a1a;
    --font-sale-color: #dc9716;
    --font-creators-color: #1a1c3b;
    --font-welcome-color: rgba(255, 255, 255, 1);
    --font-discount-color: rgba(86, 86, 86, 1);
    --card-border-color: #01337a;
    --card-title-color: rgba(1, 51, 122, 0.4);
    --card-title-text: rgba(255, 255, 255, 1);
    --basicTransition: 0.4s;
    --background-color: #ffffff;
    --background-color-alt: #ccd6e4;
    --background-color-reverse: #1a1c3b;
    --background-selected-color: rgba(220, 225, 232, 1);
    --background-welcome-color: rgba(0, 0, 0, 0.2);
    --background-error-color: rgba(229, 225, 222, 1);
    --background-footer-color: rgba(172, 166, 166, 0.25);
    --button-color-active: #dc9716;
    --button-color-reverse: #0d0d0d;
}

.container {
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
}

.wrapper {
    padding: 70px 80px 0 80px;
}

.sale {
    color: var(--font-sale-color);
}

.component__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.component__header-title {
    padding: 20px 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--font-h-size);
    color: var(--font-color);
}

.component__header-text {
    text-transform: uppercase;
    font-family: var(--font-decoration);
    font-size: 40px;
    font-weight: 400;
    color: var(--font-creators-color);
}

a {
    text-decoration: none;
    color: var(--font-header-color);
}

ul,
ol,
li {
    list-style-type: none;
}