.error__component {
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../resources/img/backgrounds/bg-404.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--background-error-color);
    background-attachment: unset;
}

@media (min-width: 1200px) {
    .not-found__menu {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        gap: 50px;
        opacity: none;
    }

    .not-found__title-text {
        text-align: center;
        font-size: 500px;
        font-weight: 400;
        font-family: var(--font-decoration);
        color: var(--font-color);
        line-height: 400px;
    }

    .not-found__menu-text {
        font-size: var(--font-p-size);
        color: var(--font-color);
        text-align: center;
    }

    .not-found__menu-btns {
        display: flex;
        justify-content: space-around;
    }
}
