@font-face {
    font-family: 'Atyp Variable';
    src: url('AtypRegularVariable.eot');
    src: local('Atyp Variable'), local('AtypRegularVariable'),
        url('AtypRegularVariable.eot?#iefix') format('embedded-opentype'),
        url('AtypRegularVariable.woff2') format('woff2'),
        url('AtypRegularVariable.woff') format('woff'),
        url('AtypRegularVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}