.categories {
    gap: 50px;
}

.categories__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.catogiries__list-top-row {
    display: flex;
    height: 320px;
}

.catogiries__list-middle-row {
    display: flex;
    height: 300px;
    gap: 4px;
}

.catogiries__list-bottom-row {
    display: flex;
    height: 300px;
    gap: 4px;
}

.catogiries__list-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.categories__list-item__title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-transform: uppercase;
    padding: 0 0 10px 10px;
    font-size: var(--font-mobile-p-size);
    font-weight: 400;
    color: var(--font-welcome-color);
    width: inherit;
    height: inherit;
}

.elegance {
    background-image: url(../../resources/img/backgrounds/categories/bg-elegance.webp);
    background-size: cover;
    background-position: center;
}

.basic {
    background-image: url(../../resources/img/backgrounds/categories/bg-basic.webp);
    background-size: cover;
    background-position: center;
}

.shoes {
    background-image: url(../../resources/img/backgrounds/categories/bg-shoes.webp);
    background-size: cover;
    background-position: center;
}

.bags {
    background-image: url(../../resources/img/backgrounds/categories/bg-bags.webp);
    background-size: cover;
    background-position: center;
}

.sport {
    background-image: url(../../resources/img/backgrounds/categories/bg-sport.webp);
    background-size: cover;
    background-position: center;
}

/* Frame 237 */

@media (min-width: 1024px) {
    .categories__list-item__arrow {
        position: absolute;
        bottom: 20px;
        right: 21px;
    }

    .categories {
        gap: 50px;
    }

    .categories__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .catogiries__list-top-row {
        display: flex;
        height: 470px;
    }

    .catogiries__list-middle-row {
        display: grid;
        grid-template-columns: 70% 1fr;
        height: 470px;
        gap: 20px;
    }

    .catogiries__list-bottom-row {
        display: grid;
        grid-template-columns: 1fr 70%;
        height: 470px;
        gap: 20px;
    }

    .catogiries__list-item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        z-index: 100;
    }

    .categories__list-item__title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 400;
        color: var(--font-welcome-color);
        width: inherit;
        height: inherit;
        background-color: var(--background-welcome-color);
        z-index: 100;
    }

    .catogiries__list-item:hover {
        border-radius: 0 0 200px 0;
        background-size: 110%;
        transition: 0.3s ease-in-out;
        transform: scale(1.02);
    }

    .categories__list-item__title:hover {
        background-color: var(--background-welcome-color);
        border-radius: 0 0 200px 0;
        transition: 0.3s ease-in-out;
        transform: scale(1.02);
    }
}
