.mega-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 80px 140px;
    gap: 10px;
}

.btn__mega-menu {
    position: absolute;
    bottom: 10%;
    width: 90%;
}

.mega-menu__sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.sidebar-list-item {
    padding: 10px;
}

.mega-menu__nav img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.mega-menu__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mega-menu__nav-title {
    text-transform: uppercase;
}

.mega-menu__nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__collection-item {
    padding-bottom: 10px;
}

.sidebar__collections {
    display: flex;
    flex-direction: column;
}

.sidebar__collection-img {
    position: relative;
    width: 330px;
    height: 250px;
    overflow: hidden;
    border-radius: 4px;
}

.sidebar__collection-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
}

.sidebar__collection-img figcaption {
    position: absolute;
    text-transform: uppercase;
    color: var(--font-color-reverse);
    font-size: var(--font-h-size);
    width: 300px;
    font-weight: 700;
    line-height: 43px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 1023px) {
    .mega-menu {
        display: none;
    }
}
