.about__creators {
    background-color: var(--background-creators-color);
}

.creators__photo {
    display: flex;
    height: 250px;
    justify-content: center;
}

.creators__img {
    height: 100%;
}

.creators__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.title__description {
    text-transform: uppercase;
}

.creators__description-link {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.creators__link-btn {
    display: flex;
    justify-content: center;
}

@media (min-width: 1440px) {
    .creators__inner {
        display: flex;
        gap: 30px;
        /* grid-template-columns: 50% 50%; */
    }

    .creators__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .creators__description-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 45px;
        gap: 10px;
        /* width: 100%; */
    }

    .title__description {
        font-size: var(--font-h-size);
        color: var(--font-creators-color);
        font-family: 400px;
        line-height: 28px;
        height: 14px;
        text-transform: uppercase;
    }

    .title__decoration {
        text-align: justify;
        padding: 15px;
        color: var(--font-creators-color);
        font-family: var(--font-decoration);
        font-weight: 400;
        font-size: 40px;
        text-transform: uppercase;
    }

    .creators__description-post {
        margin: 0 45px;
        gap: 20px;
    }

    .creators__description-text {
        text-align: justify;
        justify-content: center;
    }

    .creators__description-links {
        display: flex;
        justify-content: space-between;
        margin: 0 45px;
    }

    .creators__description-links-social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .creators__description-link {
        display: flex;
        line-height: 27px;
        align-items: start;
        gap: 5px;
    }
}
