/* look of the day -- banner */

.look-day-page {
    position: relative;
}

.look-day {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 300px;
    border-radius: 4px 100px 4px 4px;
}

.look-day__img {
    width: 219px;
    border-radius: 4px 100px 4px 4px;
}

.look-day__description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    width: 110px;
    height: 300px;
    right: 0px;
    top: 0px;
}

.look-day__title {
    width: 330px;
    height: 384px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.frame {
    width: 130px;
    height: 180px;
    font-size: 33px;
    line-height: 40px;
}

.look-day__title-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;

    margin: 0 auto;
    width: 80px;
    height: 100px;

    font-family: "Atyp Display";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1a1a1a;
}

.title__black {
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    /* line-height: 96px; */
    word-wrap: break-word;
}

.title__white {
    color: white;
    font-family: Atyp Variable;
    font-weight: 400;
    text-transform: uppercase;
    /* line-height: 96px; */
    word-wrap: break-word;
}
