.filter-page {
    color: var(--font-header-color);
}

.filter__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 20px;
}

.options-price__title,
.filter__header-title {
    padding: 5px 0;
    font-size: var(--font-mobile-element-h-size);
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
}

.filter__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter__options-item {
    font-size: var(--font-mobile-element-h-size);
    line-height: 23px;
}

.filter__options-title {
    position: relative;
    font-size: var(--font-mobile-element-h-size);
    display: flex;
    border-bottom: 1px solid var(--border-bottom-color);
    font-weight: 500;
    text-align: center;
    padding: 5px 5px;
    margin: 5px 0;
}

.filter__options-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fliter__options-list-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.filter__options-label {
    margin: 0 0 10px 10px;
}

.filter__options-price {
    margin: 10px 5px;
    gap: 10px;
}

.options-price__range {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__range-min,
.price__range-max {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.fliter__options-list-item input[type="checkbox"] {
    padding-right: 5px;
    width: 35px;
    height: 35px;
    accent-color: #c9cad0;
    font-weight: 100;
    border-radius: 5.83333px;
    gap: 5px;
}

.filter__options-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}
