@media (min-width: 1440px) {
    .shop__locations-details {
        display: flex;
        gap: 40px;
    }

    .shop__locations-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .shop__locations-list-item {
        display: flex;
        padding: 20px;
        border-radius: 4px;
        border: 1px solid var(--card-border-color);
        gap: 40px;
    }

    .shop__locations-list-logo {
        max-height: 70px;
    }
    
    .shop__locations-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .shop__locations-map {
        max-width: 683px;
    }
}
