.header__wrapper {
    display: flex;
}

@media (min-width: 992px) {
    .header__wrapper {
        padding: 25px 45px;
        align-self: stretch;
    }

    .header__content-menu {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        font-size: var(--font-p-size);
        text-transform: uppercase;
    }

    .header__nav-item {
        align-items: center;
        display: flex;
        padding: 10px;
        font-weight: 700;
    }


    .header__content-acc {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .header__content-cart {
        display: flex;
        align-items: center;
    }

    .cart__count{
        display: flex;
        align-self: start;
        font-size: 10px;
    }
}
