.about-us__information-left,
.about-us__information-right {
    display: flex;
    flex-direction: column;
    padding: 40px 15px;
    gap: 20px;
}

.description__text {
    font-size: var(--font-mobile-about-p-size);
    color: var(--font-mobile-p-color);
    line-height: 20px;
    font-weight: 600;
}


.description__text-decorated {
    font-family: var(--font-decoration);
    font-size: var(--font-mobile-decorated-p-size);
    line-height: 22px;
    font-weight: 400;
}

.about-us__infromation-img {
    height: 200px;
    overflow: hidden;
}

