

@media (min-width: 992px) {
    .footer__wrapper {
        display: flex;
        padding: 70px 80px;
    }

    .footer__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__nav-list {
        padding: 10px 0;
    }

    .footer__nav-list-item {
        padding-bottom: 10px;
    }

    .footer__payment-methods {
        display: flex;
    }

    .footer__payment-methods_list {
        display: flex;
        align-items: center;
    }

    .copyright {
        display: flex;
        align-items: center;
        text-align: center;
        justify-self: center;
    }
}