@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --font-p: "Montserrat", sans-serif;
  --font-color: black;
  --section-divider-light-color: lightgray;
  --celebration-background-color: rgba(38, 30, 28, 0.95);
  --semi-opaque-background-color: linear-gradient(rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6));
  --border-animation-color: #630a1d;
  --basicTransition: 0.4s;
  scroll-behavior: smooth;
  color: var(--text-color);
  background-color: var(--background-color);
  --containerPadding: 45px;
  --header-height: 86px;
}


.container {
  max-width: 100%;
  padding-left: var(--containerPadding);
  padding-right: var(--containerPadding);
}

.hidden {
  display: none;
}

header {
  top: 0;
}

div {
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

p,
a {
  font-family: var(--font-p);
  color: var(--font-color);
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-h);
  font-weight: normal;
}