@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: trajan-pro-3, serif;
}

:root {
  --font-p: "Montserrat", sans-serif;
  --font-h: "Montserrat", sans-serif;
  --font-h-size: 20px;
  --font-color: black;
  --section-divider-light-color: lightgray;
  --celebration-background-color: rgba(38, 30, 28, 0.95);
  --border-animation-color: #630a1d;
  --basicTransition: 0.4s;
  scroll-behavior: smooth;
  color: var(--text-color);
  background-color: var(--background-color);
  --containerPadding: 45px;
  --header-height: 86px;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.hidden {
  display: none;
}

