.swiper-button-prev svg,
.swiper-button-next svg {
    color: rgba(201, 202, 208, 1);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 30px;
    color: rgba(26, 26, 26, 1);
}

.swiper__slide {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 2px #dce1e8;
    margin-bottom: 20px;
}

.image-slider__image {
    position: relative;
    text-align: center;
    min-height: 280px;
    padding: 0px 0px 58% 0px;
}

.image-slider__image img {
    width: 99%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.slider__details {
    padding: 10px 0;
}

.slider__title {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.slider__description-price {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-weight: 500;
    text-align: left;
}

.slider__description-text {
    margin: 5px;
    font-weight: 500;
}

/* .image-slider {
    padding: 30px 0 70px 0;
}

.swiper-slide {
    max-width: 300px !important;
    width: 100% !important;
    padding: 10px;
    margin: 30px;
}

.slider__details {
    margin-top: 10px;
    gap: 30px;
}

.slider__title p {
    font-size: 16px;
    font-weight: 400;
}


.slider__description {
    display: flex;
    align-items: center;
} */

.color-container {
    padding: 5px 0;
}

.colors {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid;
    cursor: pointer;
    transition: 0.5s;
}

.color[color="beige"] {
    background-color: rgba(250, 231, 205, 1);
    border-color: rgba(250, 231, 205, 1);
}

.color[color="grey"] {
    background-color: rgba(132, 130, 130, 1);
    border-color: rgba(132, 130, 130, 1);
}

.color[color="blueBright"] {
    background-color: rgba(1, 51, 122, 1);
    border-color: rgba(1, 51, 122, 1);
}

.color.active {
    border-color: #fff;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 5, 0.3);
    transform: scale(1.2);
}


@media (min-width: 1024px) {

    .swiper-slide {
        margin: 8px 8px 20px 0px;
    }

    .image-slider__image {
        min-height: 380px;
        width: 100%;
        overflow: visible;
    }

    .image-slider__image img {
        height: 380px;
        width: 100%;
    }

    .newArrivals__swiper {
        margin-top: 20px;
    }

    .image-slider__image::after {
        position: absolute;
        left: 3px;
        top: -6px;
        width: 100%;
        height: 100%;
        content: " ";
        /* padding: 5px; */
        border: 1.5px solid rgba(1, 51, 122, 1);
        border-radius: 4px;
        z-index: 20;
    }

    .slider__title h5 {
        font-size: 16px;
        line-height: 28px;
        font-weight: 600;
    }

    .slider__description-price p {
        font-size: 16px;
    }
}